body {
    background-image: url("asanoha-400px.png");
}

h1 {
    font-family: Sans-serif;
    margin-top: 20px;
}

form {
    background-color: white;
    max-width: 400px; /* mensetting lebar form */
    padding: 20px; /* menambah jarak dalam form */
    border-radius: 10px; /* membulatkan sudut form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* menambah bayangan pada form */
    margin: auto; /* memposisikan form di tengah halaman */
}

ul {
  list-style: none; /* menghilangkan titik bulat pada list */
  padding: 0; /* menghilangkan padding pada list */
}

li {
  margin-bottom: 15px; /* menambah jarak antar list */
}

label {
    display: block; /* menampilkan label dalam satu baris */
    margin-bottom: 5px;
}

input[type="text"], /* memilih semua elemen <input> yang bertipe text */
input[type="password"] {
  /* memilih semua elemen <input> yang bertipe password  */
  width: 100%; /* mengatur lebar input menjadi 100% dari elemen induknya */
  padding: 8px; /* menambah jarak dalam input */
  box-sizing: border-box; /* mengatur ukuran elemen termasuk padding dan border */
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px; /* membulatkan sudut button */
    cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* mengubah warna button saat di hover */
}

a {
  text-decoration: none; /* menghilangkan garis bawah pada link */
  color: #007bff; /* mengatur warna link */
  font-size: 18px; /* mengatur ukuran font link */
}

a:hover {
  text-decoration: underline; /* menambah garis bawah pada link saat di hover */
}

img {
    display: block; /* menampilkan gambar dalam satu baris */
    margin: 0 auto; /* memposisikan gambar di tengah halaman */
    padding-top: 30px; /* menambah jarak atas gambar */
    width: 200px;
    height: 150px;
}

h2 {
    font-family: Sans-serif;
    margin-top: 20px;
    text-align: center; /* memposisikan teks di tengah */
}
h3 {
    font-family: Sans-serif;
    margin-top: 20px;
    text-align: center; /* memposisikan teks di tengah */
}

.logout {
    display: block; /* menampilkan gambar dalam satu baris */
    margin: auto; /* memposisikan gambar di tengah halaman */
    width: 200px;
    height: 150px;
}
h1.todo {
  text-align: center; /* memposisikan teks di tengah */
}

form.tugas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form.tugas input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button.tambah {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px; /* membulatkan sudut button */
    cursor: pointer;
}

form.tugas button.tambah:hover {
    background-color: #0077b6;
}

ul {
    list-style: none;
    padding: 0;
    width: 50%;
    margin: 30px auto;
}

ul li {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li.task-selesai {
    text-decoration: line-through;
    color: gray;
    background-color: #d9d9d9;
}

ul li a {
    margin-left: 15px;
    color: #0077b6;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}